<i class="fa fa-quote-left fa-3x fa-pull-left" aria-hidden="true"></i>
<p class="lead">
Hi there — My name is Boris Ding, a web developer from Malaysia. I started working on web applications full-time since 2006. I'm passionate about web stuff.
I currently work on advertising platform for <a href="https://en.wikipedia.org/wiki/Rakuten">Rakuten</a>, based in Singapore.
</p>

<h3>A little bit more</h3>

<p>
Prior to Rakuten, I had been working on various web-based business applications which include ERP, CRM and project management systems for both server and client-side. In other words, I used to be a full-stack web developer.
</p>

<p>
Well, web is moving fast and technologies have emerged. Especially, front-end technologies are taking more and more responsibilities on web platform nowadays. I found it is always having fun and challenging when come to working on front-end and since then, I gradually put my focus on front-end technologies, mainly for my day job.
</p>

<p>
When not at work, I like to fiddle around with my side-projects. I'm coding <em>JavaScript</em> and <em>PHP</em> programming languages most of the time. Meanwhile, I'm also dabbling in <a href="https://nodejs.org/en/">Node.js</a> with <a href="http://expressjs.com/">Express</a> framework. Besides programming, I'm also interested in web architecture and performance.
</p>

<p>
When not doing with web stuff, I mostly spend my time on reading and photography.
</p>