<i class="fa fa-quote-left fa-3x fa-pull-left" aria-hidden="true"></i>
<p class="lead">
Hi — My name is <span class="highlight">Boris Ding Poh Hing</span> and I'm from Malaysia. I started working full-time in web development since 2006. I'm currently working for <a href="https://en.wikipedia.org/wiki/Rakuten">Rakuten</a> as front-end engineer, located in Singapore.
</p>

<h3>More about me</h3>

<p>
Prior to Rakuten, I mostly worked on various web-based business applications, such as Enterprise Resource Planning (ERP) and project management systems. Now, I work front-end web development on advertising platform at Rakuten.
</a>

<p>
I'm passionate about web development and basically comfortable with both front-end and back-end. When not at work, I like to fiddle around with my side-projects which are mostly written in <span class="highlight">JavaScript</span> and <span class="highlight">PHP</span> programming languages. Meanwhile, I'm also dabbling in <span class="highlight"><a href="https://nodejs.org/en/">Node.js</a></span> with <a href="http://expressjs.com/">Express</a> framework.
</p>

<p>
Besides coding, I'm also interested in software architecture and web development best practices, as well as entrepreneurship.
When not doing with web stuff, I mostly spend my time on reading and photography.
</p>

<p>
I was officially graduated from University of Technology, Malaysia with my Bachelor of Computer Science degree in year 2006.
</p>

<h3>Why this homepage and what</h3>

<p>
It's basically a platform for people getting to know a little bit more about me and a channel to get in touch.
</p>

<p>
Technically, this website is crafted in single page user experience with the help of <a href="https://visionmedia.github.io/page.js/">client-side router</a> and some written <a href="https://raw.githubusercontent.com/borisding/borisding.github.io/master/public/src/js/app.js">VanillaJS</a>. It also uses CSS pre-processor (<a href="http://lesscss.org/">LESS</a>) for styling.
</p>

<p>This site is hosted on <a href="https://pages.github.com/">GitHub Pages</a>.</p>
<p>&copy; Boris Ding P H</p>