<i class="fa fa-quote-left fa-3x fa-pull-left" aria-hidden="true"></i>
<p class="lead">
In case if you are too lazy to go through my profile, here is a list of tech buzzwords that related to my skill set and experience for your quick reference.
</p>

<h3>Languages / Scriptings / Platforms / Designs:</h3>
<blockquote>
    <label>CSS</label>
    <label>HTML</label>
    <label>JavaScript (ES5, ES6)</label>
    <label>Node.js</label>
    <label>MVC</label>
    <label>MVVM</label>
    <label>PHP</label>
    <label>SPA</label>
    <label>SQL</label>
</blockquote>

<h3>Libraries / Frameworks / Tools / Template Engines:</h3>
<blockquote>
    <label>AngularJS</label>
    <label>Avenue</label>
    <label>Avenue-Express</label>
    <label>Backbone.js</label>
    <label>Bootstrap</label>
    <label>Browserify</label>
    <label>Express</label>
    <label>Grunt</label>
    <label>Handlebars.js</label>
    <label>Jasmine</label>
    <label>jQuery</label>
    <label>jQuery UI</label>
    <label>LESS</label>
    <label>Mustache</label>
    <label>Page.js</label>
    <label>PHPUnit</label>
    <label>Ractive.js</label>
    <label>RequireJS</label>
    <label>Slim</label>
    <label>Tape</label>
    <label>Vue.js</label>
    <label>WordPress</label>
</blockquote>

<h3>Package or Dependency Managers:</h3>
<blockquote>
    <label>Bower</label>
    <label>Composer</label>
    <label>npm</label>
</blockquote>

<h3>Databases:</h3>
<blockquote>
    <label>MySQL</label>
    <label>MongoDB</label>
    <label>PostgreSQL</label>
</blockquote>
