<i class="fa fa-quote-left fa-3x fa-pull-left" aria-hidden="true"></i>
<p class="lead">
Thanks for stopping by. If you would like to contact me, I can be reached via the following platforms:
</p>

<p>
<blockquote>
    <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
    </span>
    <a href="https://twitter.com/boris_ding" target="_blank" title="Twitter">Information Sharing</a>
    <br>
    <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
    </span>
    <a href="https://www.instagram.com/borisding/" target="_blank" title="Instagram">Random Photos</a>
    <br>
    <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
    </span>
    <a href="https://www.facebook.com/boris.ding" target="_blank" title="Facebook">Social Network</a>
    <br>
    <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
    </span>
    <a href="https://github.com/borisding" target="_blank" title="GitHub">Personal Projects</a>
    <br>
    <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
    </span>
    <a href="https://sg.linkedin.com/in/borisding" target="_blank" title="LinkedIn">Professional Profile</a>
</blockquote>
</p>

<p>
Feel free to connect with me or, drop me a line:
<em>boris.ding82[at]outlook[dot]com</em>
</p>