<i class="fa fa-quote-left fa-3x fa-pull-left" aria-hidden="true"></i>
<p class="lead">
Here is a brief of my personal projets worked in my spare time. Feel free to check it out if you are keen to know more about it.
</p>

<h3>1. Avenue <small class="highlight">(<a href="https://github.com/borisding/avenue">Repo</a>)</small></h3>
<p>
Home-bake PHP MVC framework for rapid web prototyping and development. The idea behind of this framework is inspired by <a href="https://kohanaframework.org/">Kohana</a> HMVC framework.
</p>
<blockquote>
	<ul>
	<li>Support PHP 5.5 and above.</li>
	<li><a href="http://www.php-fig.org/psr/">PSR</a> standards (PSR-2, PSR-4).</li>
	<li>Few base components (Cookie, Session, Validation, etc).</li>
	<li>Simple <em>Street</em> ORM, built on top PDO.</li>
	<li>Fast, lightweight and extensible.</a>
	</ul>
</blockquote>


<h3>2. Avenue-Express <small class="highlight">(<a href="https://github.com/borisding/avenue-express">Repo</a>)</small></h3>
<p>
A starter that allows developers to implement typical server-side MVC design in Node <a href="http://expressjs.com/">Express</a> framework. The routing idea is basically borrowed from the Avenue project.
</p>