.center-block {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.center-inline-block {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  color: #333;
  margin: 0 auto;
  padding: 0;
}
@media (min-width: 768px) {
  .container .page-content {
    width: 720px;
  }
}
@media (min-width: 300px) and (max-width: 767px) {
  .container .page-content {
    width: 100%;
  }
}
.container {
  width: auto;
}
.container .page-content {
  padding: 215px 15px 15px 15px;
  font-size: 1.1em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.container .page-content .fa {
  color: #6ac5ac;
}
.container .page-content > .spinner {
  margin-top: 15px;
}
.container header {
  background-color: #34302d;
  text-align: center;
  box-shadow: 5px 0px 15px #ccc;
  border-bottom: 3px solid #6ac5ac;
  color: #fff;
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  height: 200px;
  font-size: 1.5em;
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.container header .thumbnail {
  border-radius: 50%;
  border: 3px solid #6ac5ac;
  background: url('../../public/images/boris.ding.jpg') no-repeat;
  height: 100px;
  width: 100px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  -webkit-animation: fade-in 1s linear 0.2s both;
  -moz-animation: fade-in 1s linear 0.2s both;
  animation: fade-in 1s linear 0.2s both;
}
.container header .info {
  -webkit-animation: fade-in 1s linear 0.5s both;
  -moz-animation: fade-in 1s linear 0.5s both;
  animation: fade-in 1s linear 0.5s both;
}
.container nav {
  text-align: center;
  width: 100%;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  -webkit-animation: fade-in 1s linear 0.7s both;
  -moz-animation: fade-in 1s linear 0.7s both;
  animation: fade-in 1s linear 0.7s both;
}
.container nav > a {
  color: #fff;
  font-size: .75em;
  margin-left: 7.5px;
  margin-right: 7.5px;
}
.container nav > a:hover,
.container nav > a.active {
  color: #6ac5ac;
  text-decoration: none;
}
