.center-block {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.center-inline-block {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
body {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  color: #333;
  margin: 0 auto;
  padding: 0;
}
@media (min-width: 768px) {
  .container .page-content {
    width: 35em;
  }
}
@media (min-width: 300px) and (max-width: 767px) {
  .container .page-content {
    width: auto;
  }
}
.container {
  width: auto;
  word-wrap: break-word;
}
.container .page-content {
  padding: 0 15px;
  margin: 0 auto;
  font-size: 1.15em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.container .page-content .fa-quote-left {
  color: #e6e6e6;
}
.container .page-content > .lead {
  font-size: 1.25em;
  color: #8c8c8c;
}
.container .page-content > .lead label {
  background-color: #f2f2f2;
}
.container .page-content blockquote {
  border-left: 5px solid #6ac5ac;
  padding-left: 15px;
}
.container header {
  background-color: #34302d;
  box-shadow: 5px 0px 15px #ccc;
  border-bottom: 3px solid #6ac5ac;
  color: #fff;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  text-align: center;
  z-index: 9999;
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.container header .thumbnail {
  border-radius: 50%;
  border: 2px solid #37332f;
  background: url('../../public/images/boris.ding.jpg') no-repeat;
  height: 100px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  -webkit-animation: fade-in 1s linear 0.3s both;
  -moz-animation: fade-in 1s linear 0.3s both;
  animation: fade-in 1s linear 0.3s both;
}
.container header .thumbnail:hover {
  border-color: #6ac5ac;
  -webkit-transition: border-color 0.5s ease-in;
  -moz-transition: border-color 0.5s ease-in;
  -ms-transition: border-color 0.5s ease-in;
  -o-transition: border-color 0.5s ease-in;
}
.container header .info {
  font-size: 1.1em;
  display: block;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  -webkit-animation: fade-in 1s linear 0.5s both;
  -moz-animation: fade-in 1s linear 0.5s both;
  animation: fade-in 1s linear 0.5s both;
}
.container nav {
  text-align: center;
  width: 100%;
  -webkit-animation: fade-in 1s linear 0.7s both;
  -moz-animation: fade-in 1s linear 0.7s both;
  animation: fade-in 1s linear 0.7s both;
}
.container nav > a {
  color: #fff;
  margin-left: 7.5px;
  margin-right: 7.5px;
  font-size: 1.25em;
}
.container nav > a:hover,
.container nav > a.active {
  color: #6ac5ac;
  text-decoration: none;
}
.container .spinner {
  display: none;
  position: fixed;
  z-index: 9999;
}
.container .spinner-overlay {
  width: 100%;
  height: 100%;
  background-color: #fff;
  top: 200px;
  left: 0;
  opacity: .7;
  display: none;
  position: fixed;
  z-index: 9999;
}
.container .spinner-content {
  width: 3em;
  height: 3em;
  margin-left: -1.5em;
  margin-top: -1.5em;
  left: 50%;
  top: 60%;
  display: none;
  position: fixed;
  z-index: 9999;
}
.container .scroll-top {
  background-color: #6ac5ac;
  color: #fff;
  display: none;
  bottom: 15px;
  right: 15px;
  opacity: .9;
  position: fixed;
  padding: 5px;
}
