body {
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    color: #333333;
}
@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../../assets/fonts/MonoSocialIconsFont-1.10.eot');
    src: url('../../assets/fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('../../assets/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('../../assets/fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../../assets/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.container {
    margin-top: 15px;
    text-align: justify;
    word-wrap: break-word;
}
.intro {
    font-size: 21px;
    color: #aaaaaa;
}
.profile {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
a.thumbnail {
    background: url('../../assets/images/borisding.120.jpeg') no-repeat;
    border-radius: 50%;
    border: 4px solid #aaaaaa;
    display: block;
    height: 120px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
a.thumbnail:hover {
    border: 4px solid #1EAEDB;
    box-shadow: none;
}
.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
a.symbol:before {
    content: attr(title);
    font-size: 130%;
    margin-right: 4px;
}
p.social {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}
p.social a {
    color: #aaaaaa;
    text-decoration: none;
    font-size: 28px; 
}
p.social a:hover {
    color: #1eaedb;	
}